{% extends "form_io/base.html" %}

{% load static %}
{% block title %}selected Projects{% endblock %}

{% block main %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>form.io</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
        <script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>

        <script>
            const PROJECT_ID = {{ project.id }};
            const PROJECT_INPUTS = {{ project_inputs|safe }};
            const DJ_SITE_BOUNDS = {{ DJ_SITE_BOUNDS|safe }};
            let DJ_SITE_ENVELOPE = {{ DJ_SITE_ENVELOPE|safe }};
            let DJ_BLOCKS_ENVELOPE = {{ DJ_BLOCKS_ENVELOPE|safe }};
       </script>

    </head>
    <body>
        <!-- PROJECT CONTAINER -->
        <div id="project-info"
            class="card absolute z-50 bg-white border border-base-300 shadow-md rounded-lg"
            style="position:absolute; top:0; left:0;top: 1rem; left: 1rem; width: 15vw; max-width: 15vw;">
            
            <div class="card-body px-4 py-2">
                <!-- Inline Layout with Back Button on the Left -->
                <div class="flex items-center space-x-2">
                    <!-- Back Button -->
                    <a href="{% url 'project_list' %}" class="btn btn-sm btn-outline btn-circle">←</a>

                    <!-- Project Name and Type -->
                    <div class="leading-tight">
                        <h2 class="text-3xl font-thin font-sans capitalize break-words"
                            title="{{ project.name }}">
                            {{ project.name|slice:":18" }}{% if project.name|length > 12 %}…{% endif %}
                        </h2>
                        <p class="text-xs text-gray-600 capitalize">
                            {{ project.type }} project
                        </p>
                    </div>
                </div>
            </div>
        </div>


        
        <!-- AREA AT BOTTOM LEFT CONTAINER -->
        <div id="area-display" style="position: absolute; bottom: 4px; left: 4px; background: white; border-radius: 6px; padding: 5px 10px; z-index: 999; pointer-events: auto;" class="text-sm text-gray-700 space-y-1">

        <!-- Site and Envelope Area Info -->
        <div id="site-area-label">Site Area: --</div>
        <div id="Envelope-area-label">Envelope Area: --</div>

        <!-- Map Style Dropdown -->
        <div class="flex items-center gap-2 mt-2">
            <label for="styleSwitcher" class="text-xs text-gray-600 whitespace-nowrap">Map Style:</label>
            <select id="styleSwitcher" class="select select-xs select-bordered w-60">
            <option value="mapbox/streets-v12">Streets</option>
            <option value="mapbox/outdoors-v12">Outdoors</option>
            <option value="mapbox/light-v11" selected>Light</option>
            <option value="mapbox/satellite-streets-v12">Satellite Streets</option>
            </select>
        </div>

        </div>



        <!-- Toast container for persistent toasts -->
        <div id="toast-container" class="toast toast-top toast-center z-50 "></div>

        <!-- LOADER CONTAINER with fade -->
        <div id="loader" class="transition-opacity duration-300 opacity-0 pointer-events-none border-4 border-gray-300 z-50 border-t-gray-800 rounded-full w-10 h-10 animate-spin fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden"></div>


        <!-- THREEJS MAP CONTAINER -->
        <div id="map" style="position:absolute; top:0; left:0; width:100vw; height:100vh; z-index:0;"></div>

        <!-- TOOLBAR CONTAINER -->
        <div id="tool-panels" class="absolute z-50 top-4 right-4 w-[18vw] max-w-[18vw] max-h-[80vh] overflow-y-auto space-y-2">
        
        <!-- SITE ENVELOPE TOOLS -->
        <div class="collapse collapse-arrow bg-white border border-base-300 shadow-md rounded-lg">
            <input type="checkbox" />
            <div class="collapse-title p-0">
            <div id="envelope-tools" class="card bg-white border-0 rounded-none">
                <p class="text-sm text-gray-600 p-1">
                <iconify-icon icon="mdi:map-marker-radius"></iconify-icon>
                Envelope Tools
                </p>
            </div>
            </div>
            <div class="collapse-content p-0">
            <div class="flex flex-wrap gap-2 p-0">
                <button id="btn-envelope-select" class="btn btn-neutral btn-outline btn-sm" title="Edit Envelope">
                <iconify-icon icon="lucide:edit"></iconify-icon>
                </button>
                <button id="btn-envelope-polygon" class="btn btn-neutral btn-outline btn-sm" title="Draw Envelope Polygon">
                <iconify-icon icon="ph:polygon"></iconify-icon>
                </button>
                <button id="btn-envelope-rectangle" class="btn btn-neutral btn-outline btn-sm" title="Draw Envelope Rectangle">
                <iconify-icon icon="gis:rectangle-pt"></iconify-icon>
                </button>
                <button id="btn-envelope-entrance" class="btn btn-neutral btn-outline btn-sm" title="Pick Envelope Entrance">
                <iconify-icon icon="fluent:point-scan-24-regular"></iconify-icon>
                </button>
                <button id="btn-envelope-delete" class="btn btn-error btn-outline btn-sm" title="Delete envelope">
                <iconify-icon icon="material-symbols-light:delete-outline"></iconify-icon>
                </button>
            </div>
            </div>
        </div>

        <!-- BUILDING TOOLS -->
        <div class="collapse collapse-arrow bg-white border border-base-300 shadow-md rounded-lg">
            <input type="checkbox" />
            <div class="collapse-title p-0">
            <div id="Envelope-tools" class="card bg-white border-0 rounded-none">
                <p class="text-sm text-gray-600 p-1">
                <iconify-icon icon="mdi:building"></iconify-icon>
                Building Tools
                </p>
            </div>
            </div>
            <div class="collapse-content p-0">
            <div class="flex flex-wrap gap-2 p-0">
                <button id="btn-bldg-select" class="btn btn-neutral btn-outline btn-sm" title="Edit Building">
                <iconify-icon icon="lucide:edit"></iconify-icon>
                </button>
                <button id="btn-bldg-line" class="btn btn-neutral btn-outline btn-sm" title="Draw line">
                <iconify-icon icon="tabler:line"></iconify-icon>
                </button>
                <button id="btn-bldg-polyline" class="btn btn-neutral btn-outline btn-sm" title="Draw Polyline">
                <iconify-icon icon="gis:polyline-pt"></iconify-icon>
                </button>
                <button id="btn-bldg-polygon" class="btn btn-neutral btn-outline btn-sm" title="Draw Rectangle">
                <iconify-icon icon="gis:rectangle-pt"></iconify-icon>
                </button>
                <button id="btn-bldg-delete" class="btn btn-error btn-outline btn-sm" title="Delete Building">
                <iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon>
                </button>
            </div>
            </div>
        </div>

        <!-- TWEAK INPUTS TOOLS -->
        <div class="collapse collapse-arrow bg-white border border-base-300 shadow-md rounded-lg">
            <input type="checkbox" />
            <div class="collapse-title p-0">
            <div id="customise-tools" class="card bg-white border-0 rounded-none w-full">
                <p class="text-sm text-gray-600 p1 flex items-center gap-2">
                <iconify-icon icon="mdi:tune-variant"></iconify-icon>
                Tweak Envelope
                </p>
            </div>
            </div>
            <div class="collapse-content p-0">
            <div id="customise-inputs" class="p-1 space-y-2 mt-1" style="max-height: 300px; overflow-y: auto;">

                <!-- Injected Inputs -->
            </div>
            </div>
        </div>

        <!-- TWEAK INPUTS TOOLS -->
        <div class="collapse collapse-arrow bg-white border border-base-300 shadow-md rounded-lg">
            <input type="checkbox" />
            <div class="collapse-title p-0">
            <div id="building-tools" class="card bg-white border-0 rounded-none w-full">
                <p class="text-sm text-gray-600 p1 flex items-center gap-2">
                <iconify-icon icon="mdi:tune-variant"></iconify-icon>
                Tweak Buildings
                </p>
            </div>
            </div>
            <div class="collapse-content p-0">
            <div id="customise-inputs-building" class="p-1 space-y-2 mt-1" style="max-height: 300px; overflow-y: auto;">

                <!-- Injected Inputs -->
            </div>
            </div>
        </div>


         <!-- FACADE TOOLS -->
        <div class="collapse collapse-arrow bg-white border border-base-300 shadow-md rounded-lg">
            <input type="checkbox" />
            <div class="collapse-title p-0">
            <div id="facade-tools" class="card bg-white border-0 rounded-none w-full">
                <p class="text-sm text-gray-600 p1 flex items-center gap-2">
                <iconify-icon icon="material-symbols:window-outline-sharp"></iconify-icon>
                Tweak Facade
                </p>
            </div>
            </div>
            <div class="collapse-content p-0">
            <div id="customise-inputs-facade" class="p-1 space-y-2 mt-1" style="max-height: 300px; overflow-y: auto;">

                <!-- Injected Inputs -->
            </div>
            </div>
        </div>

        </div>

        <!-- PROJECT STAGE INDICATOR - Compact Bottom Center -->
<div class="fixed bottom-3 left-1/2 -translate-x-1/2 z-50 bg-white rounded-box shadow px-4 py-2 text-xs">
   <div class="flex justify-center gap-4">
  <button id="prevStageBtn" class="btn btn-xs btn-outline btn-neutral">
    <iconify-icon icon="ooui:next-rtl"></iconify-icon>
    </button>
  <button id="nextStageBtn" class="btn btn-xs btn-outline btn-neutral">
    <iconify-icon icon="ooui:next-ltr"></iconify-icon>
</button>
</div>
    <div class="steps" id="stage-steps">
    <li class="step font-sans stage-step step-neutral" data-stage="0">Massing</li>
    <li class="step font-sans stage-step" data-stage="1">Floorplans</li>
    <li class="step font-sans stage-step" data-stage="2">Facade</li>
    <li class="step font-sans stage-step" data-stage="3">Mockup</li>
    <li class="step font-sans stage-step" data-stage="4">Export</li>

  </div>


</div>






        <!-- Chat Box using DaisyUI (Compact Version) -->
        <div id="chat-box" class="fixed bottom-1 right-1 w-[18vw] max-w-[18vw] max-h-[20vh] bg-base-100 shadow-md rounded-lg p-2 z-50 flex flex-col justify-end space-y-1 border border-base-300">

            <!-- Chat Messages Scroll Area -->
            <div id="chat-messages" class="overflow-y-auto pr-1 flex-grow max-h-[100px] space-y-1 text-sm">
                <!-- Dynamically appended messages will appear here -->
            </div>

            <!-- Input + Send Area -->
            <div class="chat-input flex gap-1 items-end">
                <textarea id="chatbox" placeholder="Type your prompt here..." class="textarea textarea-bordered textarea-xs resize-none w-full leading-tight" rows="1"></textarea>
                <button id="send_prompt" class="btn btn-neutral btn-outline btn-xs shrink-0">
                    <iconify-icon icon="mdi:send"></iconify-icon>
                </button>
            </div>

        </div>



    </body>
</html>
<script>
  mapboxgl.accessToken = "{{ mapbox_token|safe }}";
  console.log("Mapbox token:", mapboxgl.accessToken);
</script>
<script type="module" src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block extra_scripts %}

    <script type="module" src="{% static 'js/script.js' %}"></script>
{% endblock %}

